numpy==1.21.5
flask==2.1.0
beautifulsoup4==4.10.0
requests==2.26.0
spacy==3.2.4
textblob==0.17.1
scikit-learn==1.0.2
nltk==3.6.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
gunicorn==20.1.0